.wrapper {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  /* padding: 0 auto; */
}

.list {
  width: 80%;
  max-width: 720px;
  margin: 84px auto 0 auto;
}

.list__item {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px;
  margin-top: 16px;
  background-color: #b4abab;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.list__actions {
  display: flex;
  margin-top: 10px;
}
.list__action {
  padding: 4px;
}
.list__action:first-child {
  margin-right: 10px;
}
.input {
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}
.list__render_place {
  background-color: #fff;
}